@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: League Spartan, 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    padding-top: 30px;
}

#suggestions {
    position: relative;
    top: 0;
    border: 1px solid gray;
}

#suggestions a {
    width: 100%;
    display: block;
}

#suggestions a:active {
    outline: 2px dotted gray;
}

footer a, .bg-primary a:not(.btn), .bg-dark a {
    color: white;
}

footer a:hover, .bg-primary a:not(.btn):hover, .bg-dark a:hover {
    color: white;
    opacity: .75;
}

a:not(.btn):active {
    outline: 2px dotted gray;
}

input[type="text"] {
    border: 1px solid black;
}

#search-container input {
    font-size: 18pt;
}

.suggestion-link {
    font-size: 18pt;
}

.suggestion-link:hover {
    background: rgba(128, 128, 128, 0.267);
}

.examples-list {
    list-style-type: none;
}

.examples-list li::before {
    content: '»';
}